.display{
    margin-top: 2rem;
}
.display-btn{
    cursor: pointer;
    height: 40px;
    width: 100px;
    color: aliceblue;
    border: none;
    background-color: rgb(174, 0, 255); 
    border-radius: 2rem;  
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}
.display-btn:hover{
    background-color: rgb(117, 0, 172); 
}
.text{
    height: 1.6rem;
    width: 15rem;
    color: aliceblue;
    margin-left: 1rem;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.14);
    box-shadow: 0rem 0rem 0.8rem .2rem rgb(0, 238, 255);
}
.display-conatiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 1rem;
}